{% extends 'base.html'%}

{% block content %}


<section id="content-container">
    <div class="content-item" id="information">
        <p id="textarea">
            The idea behind this website was originally started during winter break, as I wanted to keep an eye on a few courses
            to join them if they open up. With too much free time, this eventually coalesced into the website you see.
        
            I wanted to create a website that could let William and Mary students follow the courses that they wanted without 
            having to utilize a similar paid service.
            <p id="textarea">Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> 
                from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></p> 
        </p>
        
    </div>
</section>
{% endblock %}