{% extends 'base.html'%}

{% block content %}


<section id="content-course">
    <div class="content-item-course">
        <table>
            <tr>
                <th>CRN</th>
                <th>Section</th>
                <th>Course Name</th>
                <th>Status</th>
            </tr>
 
            {% for class, item in my_context.items %}
                <tr>
                    <th>{{class}}</th>
                    <th>{{item.0}}</th>
                    <th>{{item.1}}</th>
                    <th>{{item.2}}</th>
                </tr>
            {% endfor %}
        </table>

        <!-- Hello?
        {% for item in my_context %}
            {{item}}
        {% endfor %}
        {{ akey }} -->
    </div>
    
</section>

<section id="content-course-crn">
        <div id="CRN-BOX">
                
            <form method="post">
                {% csrf_token %}
                <div id="CRN-container">
                    <div class="CRN_Taker"><h4>Add Class</h4><input name="CRN_Taker" type="text" placeholder="CRN" maxlength="5" size="5"></div>                
                    <div class="CRN_Remover"><h4>Remove Class</h4><input name="CRN_Remover" type="text" placeholder="CRN" maxlength="5"size="5"></div>
                </div>
                <input class="CRN_button" value="Submit" type="submit"></li>
            </form>
   
            {% if messages %}
                <p id="messages" style="font-size: 10pt;">
                    {% for message in messages %}
                    {{ message }}
                    {% endfor %}
                </p>
            {% endif %}
        </div>
    
</section>


{% endblock %}