{% extends 'base.html'%}

{% block content %}


<section id="welcome">
    <div class="inner">
        <header>
            <h1><strong>WMStudies</strong></h1>
        </header>

        {% if request.user.is_authenticated == True %}
            <div id="logged_in">
                <h3>Logged in as {{request.user}}</h3>
            </div>
        {% else %}
            <div id="logging_in">
                <form action="#" method="post">
                    <div class="field_first">
                        <label for="UserId">UserId</label>
                        <input name="UserId" id="UserId" type="text" placeholder="UserId">
                    </div>

                    <div class="field_second">
                        <label for="Password">Password</label>
                        <input name="Password" id="Password" type="text" placeholder="Password">
                    </div>

                    <ul class="actions">
                        <li><input value="Log In" class="button" type="submit"></li>
                    </ul>
                </form>
            </div>
            <div id="register">
                <a href="{% url 'register' %}">Register</a>
            </div>
        {%endif%}
        <!-- NAVPANEL TOGGLE? -->
    </div>
</section>

<!-- -------------------------------------------- -->

<section id="instructions">
Explainin' Stuff
</section>

<!-- Think of more sections? -->

{% endblock %}