<header id="navbar-container">
    <a class="nav-container-item" href="{% url 'home' %}" id="logo"><strong>WMStudies</strong></a>
    <ul class="nav-container-item" id="non-logo-nav">
        <li><a class="nav-item" href="{% url 'home' %}">Home</a> </li><!-- For now just goes to Hello World!!! -->   
        <li><a class="nav-item" href="{% url 'classes' %}">Class Search</a></li> <!-- redirects back to test -->     
        <li><a class="nav-item" href="{% url 'about' %}">About</a></li>  
    </ul>
</header>