
{% extends 'base.html'%}
{% block content %}
{% if messages %}
    <p id="messages" style="font-size: 10pt;">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    </p>
{% endif %}
<div class="register_user">
    <h1><strong>Create Account</strong></h1>

    <form method="post">
        {% csrf_token %}
        {{form}}
        <ul class="actions">
            <li><input value="Register" class="button" type="submit"></li>
        </ul>
    </form>
</div>
{% endblock %}