
{% extends 'base.html'%}
{% block content %}
{% if messages %}
    <p id="messages" style="font-size: 10pt;">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    </p>
{% endif %}
<div class="register_user">
    <h1><strong>Create Account</strong></h1>

    <form method="post">
        {% csrf_token %}
        {{form}}
        <input value="Register" class="button" type="submit">
    </form>
</div>
<p>For phone number, put all 10 numbers without any other characters.</p>
{% endblock %}